.button {
  background-color: black;
  color: white;
  border-radius: 0;
  border: none;
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;

  &:hover {
    background-color: rgba(0,0,0,0.8);
  }

  &:disabled {
    background-color: rgba(0,0,0,0.2);
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}