.sidebarContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(80%);
  transition: transform 200ms ease;

  &.open {
    transform: translateX(0);
  }
}

.toggle {
  border: 1px solid rgba(0,0,0,0.2);
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  position: absolute;
  right: calc(100% + 0.8rem);
  top: 0.8rem;

  &:hover {
    border: 1px solid rgba(0,0,0,1);
  }
}

.sidetray {
  border-left: 1px solid rgba(0,0,0,0.2);
  padding: 1.2rem;
  height: 100%;
  width: 24rem;
  background-color: white;
}